{% extends 'base.html' %}
{% load static %}

{% block title %}
    我的网站|登录
{% endblock %}

{% block nav_home_active %}active{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-4 mx-auto">
            {% if not user.is_authenticated %}
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">登录</h3>
                    </div>
                    <div class="card-body">
                        <form action="" method="POST">
                            {% csrf_token %}
                            {% for field in login_form %}
                                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                                {{ field }}
                                <p class="text-danger">{{ field.errors.as_text }}</p>
                            {% endfor %}
                            <span class="text-danger">{{ login_form.non_field_errors }}</span>
                            <div class="clearfix"></div>
                            <a href="{% url 'forgot_password' %}" class="float-left">忘记密码？</a>
                            <button type="submit" class="btn btn-primary float-right">登录</button>
                        </form>
                    </div>
                </div>
            {% else %}
                <span>已登录，跳转到首页...</span>
                <script type="text/javascript">
                    window.location.href = '/';
                </script>
            {% endif %}
        </div>
    </div>

</div>

{% endblock %}